@import './Header/Header.scss';
@import './Regform/Regform.scss';

.TopSection {
    width: 100%;
    background: url("./bg.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;

    .logo {
        padding: 13px;
        background: linear-gradient(to right, #514dc7, #23214f);
        height: 100%;
        img {
            width: auto;
        }
    }
    header {
        background: #ffffff;
        img {
            max-height: 80px;
        }
    }

    .video-block {
        background: url("./bg.jpg") no-repeat center / cover;
        .video-link {
            position: relative;
            .video-tittle {
                position: absolute;
                left: 170px;
                top: 55px;
                z-index: 999;
                text-shadow: 1px 1px 3px #000;
                color: #fff;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
    .VideoPlayer {
        height: auto;
        max-width: 838px;
        margin: 45px auto;
    }

    .headline {
        background: linear-gradient(0.25turn, #23214f, #1e35d8, #23214f) center / cover;
        text-align: center;
        .title {
            padding: 20px 0;
        }
        h1 {
            font-size: 42px;
            color: white;
            font-weight: 900;
            text-align: center;
            line-height: 1.4;
            margin: 0 0 10px;
            span {
                color: #facf5f;
            }
        }
    }

    .partners-block {
        background: linear-gradient(0.25turn, #d1d3d6, #fefefe, #d1d3d6);
        .img {
            padding: 10px 0;
            img {
                width: 100%;
            }
        }
    }

    .top-reg {
        margin-top: 40px;
        padding-bottom: 30px;
    }
}
.box_wrap {
    max-width: 1080px;
}

.red-btn {
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to bottom, #fc5239, #ef1713, #fc5239);
    font-size: 40px;
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-weight: 900;
    outline: none!important;
    margin-bottom: 10px;
    &:hover {
        background: linear-gradient(to bottom, #ef1713, #fc5239, #ef1713);
    }
}

footer {
    background: linear-gradient(0.25turn, #23214f, #1e35d8, #23214f);
    p {
        font-size: 10px;
        color: #ffffff;
        padding: 7px 0;
        margin: 0 0 10px;
    }
}

.FirstRegform {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background: url("./status.png") no-repeat center / cover;
  }
  .title {
    margin-bottom: 25px;
    p {
      color: #ef1713;
      padding-left: 80px;
      font-size: 25px;
      font-weight: 900;
      text-align: center;
      &:first-child {
        font-size: 30px;
      }
    }
  }
  .inner {
    .main-modal-text {
      margin-bottom: 35px;
    }
    p {
      font-size: 18px;
      color: #a5a5a5;
      line-height: 26px;
      font-weight: 900;
      text-align: center;
      span {
        color: #ef1713;
      }
    }
  }
  .form-btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  input {
    background-color: #dcdcdc;
    margin-bottom: 15px;
  }
}

.modal-dialog {
  max-width: 100%!important;
  margin: 0!important;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 15px 30px;
  position: relative;
  max-width: 600px;
}

.modalscreen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 20;
    vertical-align: middle;

    & .close {
        width: 1.2vw;
        height: 1.2vw;
        float: right;
        display: block;
        background: #d65000; 
        border-radius: 50%;
        font-size: 0.96vw;
        cursor: pointer;
        margin-left: auto;
        filter: brightness(50%);

        @media (max-width: 768px) {
            width: 6.2vw;
            height: 6.2vw;
            font-size: 8vw;
            line-height: 0.77;
        }

        &:hover {
            filter: brightness(100%);
        }
    }

    & .modal {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #fff;
        display: block;
        padding: 1.4vw;
        width: 28%;
        height: auto;
        margin: auto;
        background: url('./Header/bgr.jpg') no-repeat center center;
        background-size: cover;

        @media (max-width: 1200px) {
            width: 38%;
        }

        @media (max-width: 768px) {
            padding: 3.4vw;
            width: 90%;
        }

        & .title {
            margin-top: 2vw;
            font-weight: 700;
            color: #d65000;
            font-size: 3.6vw;

            @media (max-width: 1200px) {
                margin-top: 4vw;
                font-size: 5.6vw;
            }
    
            @media (max-width: 768px) {
                margin-top: 8vw;
                font-size: 12.6vw;
            }
        }

        & .subtitle {
            font-size: 1.72vw;
            margin-bottom: 1vw;

            @media (max-width: 1200px) {
                font-size: 3.6vw;
            }
    
            @media (max-width: 768px) {
                font-size: 7.6vw;
            }
        }

        & p {
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;

            @media (max-width: 768px) {
                font-size: 3.6vw;
                width: 90%;
                margin: 3vw auto;
            }
        }
    }
}